.Graphic {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.Graphic .Scales {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    height: 80px;
}

.scale-description {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.scale-description li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 20px;
}

.scale-description li span {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.scale-description li:first-child span {
    background-color: red;
}

.scale-description li:nth-child(2) span {
    background-color: blue;
}

.scale-description li:last-child span {
    background-color: green;
}

.car {
    background-color: red;
}

.entertainment {
    background-color: blue;
}

.food {
    background-color: green;
}