.ItemPreviews {
    width: 800px;
    height: 600px;
    margin: 20px auto 0;
    padding: 20px 0;
    border: 1px solid #000;
    position: relative;
}

.Items {
    width: 100%;
    height: 380px;
    overflow: auto;
}

.ItemPreviews > p {
    position: absolute;
    bottom: 165px;
    left: 0;
    right: 0;
    text-align: center;
}